@media all and (max-height: 1000px) {
    
}

#speakers {
  background-color: #E5E5E5;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -30%;
}

#speakers h1{
    color: #32467A;
    translate: 0px, 80px;
}

#speakers-container{
    width: 100%;
    height: 90%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;   /*review!!*/
    width: 60%;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}  
.active-anim {
    opacity: 1;
  }

.slide img{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    object-fit: cover;
}

.slide h3, h4{
    margin-block-start: 0.7em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn-slide {
    cursor: pointer;
    border: none;
}
  
.next {
    position: absolute;
    top: 50%;
    right: 15%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.prev {
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.container-dots {
    position: relative;
    display: flex;
    bottom: 50px;
  }
  .dot {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    margin: 0 5px;
    background: #D5DDF0;
  }
  .dot.active {
    background-image: url("../../graphics/assets/speakers/currentDot.svg");
  }