@keyframes bg-change {
    from {opacity: 1;}
    to {opacity: 0;}
  }

#landing #background {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    color: var(--red);
}

@keyframes runleft {
    100%{
        transform: translateX(-300px);
    }
}

.runleft {
    animation: runleft 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes runright {
    0% {
      transform: translateX(0px);
    }
    100% {
        transform: translateX(300px);
    }
}

.runright {
    animation: runright 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes slowrunright {
    0% {
      transform: translateX(0px);
    }
    100% {
        transform: translateX(50px);
    }
}

.slowrunright {
    animation: slowrunright 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

#lefttree {
    position: absolute;
    height: 82%;
    width: 82%;
    z-index: 20;
    left: -34%;
    top: 16%;
}

#leftlowdoublelightbluetrees {
    position: absolute;
    height: 50%;
    width: 50%;
    z-index: 21;
    left: -12%;
    top: 78%;
}

#leftwidebluetree {
    position: absolute;
    height: 69%;
    width: 69%;
    z-index: 18;
    left: -17%;
    top: 38%;
}

#leftlowbehindroundtree {
    position: absolute;
    height: 43%;
    width: 43%;
    z-index: 15;
    left: -3%;
    top: 62%;
}

#lowpinksmalltree {
    position: absolute;
    height: 33%;
    width: 33%;
    z-index: 22;
    left: 5%;
    top: 79%;
}

#leftnormalpurpletree {
    position: absolute;
    height: 55%;
    width: 55%;
    z-index: 21;
    left: 2%;
    top: 64%;
}

#leftlowweirdrootplant {
    position: absolute;
    height: 55%;
    width: 55%;
    z-index: 14;
    left: 7%;
    top: 82%;
}

#leftlowwidebluetree {
    position: absolute;
    height: 38%;
    width: 38%;
    z-index: 22;
    left: 25%;
    top: 80%;
}

#middlelowroundbluebush {
    position: absolute;
    height: 37%;
    width: 37%;
    z-index: 22;
    left: 39%;
    top: 89%;
}

#rightlowdoublebluebehindtrees {
    position: absolute;
    height: 50%;
    width: 50%;
    z-index: 18;
    left: 49%;
    top: 73%;
}

#lowrightdoublebluetree {
    position: absolute;
    height: 35%;
    width: 35%;
    z-index: 23;
    left: 56.3%;
    top: 83%;
}

#rightlowpinkcircletree {
    position: absolute;
    height: 27%;
    width: 27%;
    z-index: 24;
    left: 70.7%;
    top: 89%;
}

#rightnormalbluetree {
    position: absolute;
    height: 57%;
    width: 57%;
    z-index: 22;
    left: 54.5%;
    top: 54%;
}

#rightbigbluetree {
    position: absolute;
    height: 80%;
    width: 80%;
    z-index: 17;
    left: 49%;
    top: 20%;
}

#righthalfwidebluetree {
    position: absolute;
    height: 57%;
    width: 57%;
    z-index: 22;
    left: 64.7%;
    top: 37%;
}

#rightlowpinkroundduplicatebush {
    position: absolute;
    height: 33%;
    width: 33%;
    z-index: 28;
    left: 76%;
    top: 76%;
}

#rightbluesmalltree {
    position: absolute;
    height: 33%;
    width: 33%;
    z-index: 20;
    left: 78.4%;
    top: 22%;
}

#land {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 12;
    left: 10%;
    top: 40.3%;
}

#landing {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100000;
}

#landing #header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    color: var(--red);
}

#landing-title{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 175px;
    line-height: 199px;
    text-align: center;
    z-index: 1;
    color: #FFFFFF;
}

h2 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    z-index: 1;
    color: #FFFFFF;
}

#landing #register-btn {
    background: #212C50;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

#landing #social-media {
    position: absolute;
    left: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    color: #0C2B4A;
}

#landing h2 {
    margin: 8px 0;
}
