#faq {
    width: 100vw;
    /* background-color:#6C7BA0; */
    background: linear-gradient(180deg, #0E183D 0%, #4A2450 85.42%);
    padding: 100px 0;
    /* background-image: url("/src/graphics/faq-bg.svg"); */
    background-repeat: no-repeat, repeat;
    background-size: 2500px;
    background-position: center;
}

#faq h1 {
    font-family: Rany;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 112%;
    /* or 39px */
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #FEFEFE;
}
#faq h2 {
    font-family: Rany;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 112%;
/* identical to box height, or 19px */

letter-spacing: 0.05em;

color: #FEFEFE;
}

#faq p {
    /* position: absolute; */
    /* width: 350px; */
    /* height: 114px; */
    /* left: 392px; */
    /* top: 6280px; */

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 112%;
    /* or 19px */

    letter-spacing: 0.05em;
    margin-top: 10px;
    margin-bottom: 40px;

    color: #FEFEFE;
}

.faq-text {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto 100px;
}

.faq-details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.faq-col, .faq-col {
    width: 400px;
}

.for-more {
    width: 100%;
    text-align: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-button {
    color: white;
    font-size: 22px;
    background-color: #FF5732;
    padding: 16px 32px;
    border-radius: 50px;
}

.more-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .faq-col, .faq-col {
        width: 100%;
    }
    #faq {
        background-size: 1400px;
    }
}

@media only screen and (max-width: 400px) {
    #faq {
        background-size: 700px;
        background-position: bottom;
    }
}
